/BioMetricStationMqttDataTranslator/nbproject/private/
/BioMetricStationMqttDataTranslator/build/
/BioMetricStationService/build/
/BioMetricStationService/dist/
/BioMetricStationDataReceiverSerial/nbproject/private/
/BioMetricStationDataReceiverSerial/build/
/BioMetricStationSerialReceiver/nbproject/private/
/BioMetricStationSerialReceiver/build/